@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}


@utility bg-diagonal {
  --diagonal-color: rgb(229 231 235 / 0.45);

  background-image: repeating-linear-gradient(
    135deg,
    var(--diagonal-color) 0 1px,
    transparent 1px 8px
  );

  html.dark & {
    --diagonal-color: rgb(255 255 255 / 0.06);
  }
}


/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

/* .motion-div {
  @apply rounded-md p-5 w-sm 
  ring-4 ring-stone-100
  ring-offset-2 ring-offset-stone-200;
} */